:root {
    --primary: #F07A78;
    --secondary: #F08F78;
    --text-color: #f5f5f5;
    --text-secondary: #803104;
}

*{ 
font-family: Ubuntu;
margin: 0;
padding: 0;
box-sizing: border-box;
font-size: 14px;
}

#event-subscription {
    background: linear-gradient(rgba(0,0,0,.6),rgba(0,0,0,.4)), url("..//img/banner.jpg");
    background-position: center ;
    background-size: cover ;
    height: 85vh;
    display:flex;
    justify-content: space-around;
    align-items: center;
    color: var(--text-color);
} 

h2 {
    text-transform: uppercase;
    margin-bottom: 0.3em;
}

#disclamer h2 {
    color: var(--primary);
}

#disclamer .about-you {
    font-size: 1.2em;
    max-width: 350px;
    font-weight: bold;
}
#subscription-form {
    background-color:var(--primary);
    padding: 1em;
    max-width: 22%;
}

#subscription-form {
    font-size: 1.5em;
    color: var(--text-secondary);
    margin-bottom: 1em;
}

.form-group {
    display: flex;
    flex-direction: column;
    margin-bottom: 0.8;
}
.form-group label{
    color: var( -- text-tertiary) ;
    margin-bottom: 0.3em;
    font-weight: bold;
}
.form-group input,
.form-group select,
.form-group textarea{
   padding: 6px 8px;
   border-radius: 8px;
   border: none;
   outline: none;
}

.btn {
    background: var( -- primary) ;
    color: var( -- text-color);
    text-transform: uppercase;
    width: 100%;
    padding: 8px 12px;
    opacity: 0.7;
    cursor: pointer;
    margin-top: 1em;
}
.btn:hover {
    opacity: 1;
} 
/* Tecnologias*/
#key-technologys h2 {

    background: var(--primary);
    color: var(--text-secondary) ;
    text-align: center;
    padding: 2em;
    font-weight: bold;
}
.technologys {
    display: flex;
    justify-content: space-around;
    padding: 2em;
    margin: 0 auto;
}
.technology {
    font-size: 0.5em;
    text-align: justify;
    display: flex;
    flex-direction: column;
    align-items: center;
    max-width: 15%;
    color: #702d00;
}
#technology-1 {
     background-image: url(/img/logos/github.png);
}
#technology-2 {
    background-image: url(/img/logos/figma.png);
}
#technology-3 {
    background-image: url(/img/logos/html.webp);
}
#technology-4 {
    background-image: url(/img/logos/css.webp);
}
#technology-5 {
    background-image: url(/img/logos/js.png);
}

.technologys .technology-img {
    width: 100px;
    height: 100px;
    border-radius: 50%;
    background-size: cover;
    background-position: center;
    margin-bottom: 1em;
}
/*Sobre*/

#about {
    height: 400px;
  background: linear-gradient(rgba(168, 31, 31, 0.8), rgba(0, 0, 0, 0.8)),
    url("..//img/logos/fundo.jpg");
  background-position: center;
  background-size: cover;
  display: flex;
  align-items: center;
  justify-content: space-around;
  color: var(--text-color);
  margin-bottom: 3em;
}

#about-id, #about-description {
    max-width: 40%;
}

#about-id {
    display: flex;
    vertical-align: middle;
    align-items: center;
}


#about-details p {
  text-align: center;
  font-size: 1.2em;
  line-height: 1.6em;
}

#about-id i {
    color: var(--secondary);
    font-size: 6em;
    margin-right: 0.5em;
}

#about-description h3 {
    color: var(--secondary);
    font-size: 1.5em;
    margin-bottom: 1em;
    text-transform: uppercase;
}

#about-description p {
  text-align: justify;
  font-size: 0.8em;
  line-height: 1.5em;
}

/* Projetos */

#projects {
    width: 80%;
    margin: 0 auto;
}

.project {
    display: flex;
    vertical-align: middle;
    align-items: center;
    justify-content: space-between; /* adicionar o espaço entre elementos */
    gap: 5%;
    margin-bottom: 4em;
}

.project img {
    width: auto;
    max-width: 50%;
    height: 350px;
    object-fit: cover;
    object-position: center;
}

.project h3 {
    margin-bottom: 1em;
    font-size: 2em;
    font-weight: bold;
    line-height: 2em;
    color: var(--text-secondary);
}
.project-description {
    width: 100%;
    padding-left: 2em;
  }
  .project-description ul {
    list-style-position: inside;
  }
  .project-description ul li {
    margin-bottom: 1em;
  }
  .project-description ul li:last-child {
    font-weight: bold;
  }

  /* Rodapé */

#footer {
    background-color: var(--secondary);
    text-align: center;
    color: var(--text-secondary);
    height: 150px;
    display: flex;
    flex-direction: column;
    justify-content: center;
  }
  
  #footer a {
    color: var(--secondary);
    margin: 8px;
  }
  
  #footer h3 {
    font-size: 1.8em;
    margin-bottom: 0.5em;
  }